<beans profile="highperf"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean
        class="pl.electronicgradebook.repo.sql.AddressRepositorySql"
        primary="true"
    />
    <bean
        class="pl.electronicgradebook.repo.sql.AdministratorRepositorySql"
        primary="true"
    />
    <bean
            class="pl.electronicgradebook.repo.sql.AttendanceRepositorySql"
            primary="true"
    />
    <bean
            class="pl.electronicgradebook.repo.sql.ClassRepositorySql"
            primary="true"
    />
    <bean
            class="pl.electronicgradebook.repo.sql.ClassroomRepositorySql"
            primary="true"
    />
    <bean
            class="pl.electronicgradebook.repo.sql.GradeRepositorySql"
            primary="true"
    />
    <bean
            class="pl.electronicgradebook.repo.sql.LessonRepositorySql"
            primary="true"
    />
    <bean
            class="pl.electronicgradebook.repo.sql.StudentRepositorySql"
            primary="true"
    />
    <bean
            class="pl.electronicgradebook.repo.sql.SubjectRepositorySql"
            primary="true"
    />
    <bean
            class="pl.electronicgradebook.repo.sql.SubjectsTeacherRepositorySql"
            primary="true"
    />
    <bean
            class="pl.electronicgradebook.repo.sql.TeacherRepositorySql"
            primary="true"
    />
    <bean
            class="pl.electronicgradebook.repo.sql.UserRepositorySql"
            primary="true"
    />
</beans>